In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["col1","col2","col3","col4"])

In [3]:
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [4]:
df.iloc[:,3]

row1     3
row2     7
row3    11
row4    15
row5    19
Name: col4, dtype: int32

In [5]:
df.to_csv("Test.csv")

In [6]:
df.loc["row1"]

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

In [7]:
df.iloc[0:2,0:1]

      col1
row1     0
row2     4

In [8]:
type(df.iloc[0:2,0:1])

pandas.core.frame.DataFrame

In [9]:
df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [10]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [11]:
df["col1"].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: col1, dtype: int64

In [12]:
df["col1"].unique()

array([ 0,  4,  8, 12, 16])

In [13]:
df.values.shape

(5, 4)

In [14]:
df.iloc[:,:-1]

      col1  col2  col3
row1     0     1     2
row2     4     5     6
row3     8     9    10
row4    12    13    14
row5    16    17    18

In [15]:
df.iloc[:,3:]

      col4
row1     3
row2     7
row3    11
row4    15
row5    19

In [16]:
data=pd.DataFrame({"name":["raid","nishad"],
                "Id":[7,4]})

In [17]:
data

     name  Id
0    raid   7
1  nishad   4

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_6672/477251187.py, line 1)