In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["col1","col2","col3","col4"])

In [7]:
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [3]:
df.to_csv("Test.csv")

In [4]:
df.loc["row1"]

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32